@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  html {
    font-size: 19px;
  }
  @media (min-width: 1024px) {
    html {
      font-size: 20px;
    }
  }
  body {
    @apply bg-slate-950 text-slate-100;
  }
}
